{%extends 'base.html'%}
{% import 'macros.html' as macro %} 
{% block content %}
<!-- SOURCE AREA-->
<div class="row">
  {%for source in sources %}
  <div class="col-sm-4">
    <div class="card" style="background-color: bisque">
      <div class="card-body">
        <h3 class="card-title">{{source.name}}</h3>
        <a href="{{source.url}}"target="_blank"class="btn btn-primary btn-block">View Site</a>
        <a href="/source/{{source.id}}" class="btn btn-success btn-block">View Articles</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%endblock%}